Repository baepo-minjok/pipely, pull requests merged in 2025-07, with the labels that each got.

#69 [docs] Readme update
  README.ko.md
  README.md
Labels: documentation

#70 [DOC] README 수정
  README.ko.md
  README.md
Labels: documentation

#79 [REFACTOR] Swagger 추가 및 JenkinsInfo 엔티티 변경
  backend/src/main/java/com/example/backend/auth/user/controller/UserController.java
  backend/src/main/java/com/example/backend/exception/ErrorCode.java
  backend/src/main/java/com/example/backend/jenkins/build/service/BuildService.java
  backend/src/main/java/com/example/backend/jenkins/error/controller/ErrorController.java
  backend/src/main/java/com/example/backend/jenkins/info/controller/JenkinsInfoController.java
  backend/src/main/java/com/example/backend/jenkins/info/model/JenkinsInfo.java
  backend/src/main/java/com/example/backend/jenkins/info/model/dto/InfoRequestDto.java
  backend/src/main/java/com/example/backend/jenkins/info/model/dto/InfoResponseDto.java
  backend/src/main/java/com/example/backend/jenkins/info/service/JenkinsInfoService.java
  backend/src/main/java/com/example/backend/jenkins/job/repository/FreeStyleRepository.java
  backend/src/main/java/com/example/backend/jenkins/job/service/FreeStyleJobService.java
  backend/src/main/java/com/example/backend/service/HttpClientService.java
Labels: backend

#89 [Feat] Feat/75 feat 파이프라인 job 생성
  backend/src/main/java/com/example/backend/config/SecurityConfig.java
  backend/src/main/java/com/example/backend/config/SwaggerConfig.java
  backend/src/main/java/com/example/backend/config/jwt/JwtAuthenticationFilter.java
  backend/src/main/java/com/example/backend/jenkins/info/model/JenkinsInfo.java
  backend/src/main/java/com/example/backend/jenkins/job/controller/PipelineJobController.java
  backend/src/main/java/com/example/backend/jenkins/job/model/dto/pipeline/PipelineRequestDto.java
  backend/src/main/java/com/example/backend/jenkins/job/model/pipeline/Pipeline.java
  backend/src/main/java/com/example/backend/jenkins/job/model/pipeline/PipelineHistory.java
  backend/src/main/java/com/example/backend/jenkins/job/repository/PipelineHistoryRepository.java
  backend/src/main/java/com/example/backend/jenkins/job/repository/PipelineRepository.java
  backend/src/main/java/com/example/backend/jenkins/job/service/PipelineJobService.java
  backend/src/main/resources/template/pipelineScriptConfig.mustache
Labels: backend, :sparkles: feat

#91 Docs/workflows
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/code_convention.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/issue-setup.yml
  .github/workflows/pr-setup.yml
Labels: needs-review, pull-request

#92 [docs] README에 CI 뱃지 추가
  README.md
Labels: needs-review, pull-request

#95 [feat] config_trigger_stage_extract
  backend/src/main/java/com/example/backend/jenkins/build/controller/BuildController.java
  backend/src/main/java/com/example/backend/jenkins/build/model/dto/BuildRequestDto.java
  backend/src/main/java/com/example/backend/jenkins/build/service/BuildService.java
  backend/src/main/java/com/example/backend/jenkins/job/repository/PipelineRepository.java
  backend/src/main/java/com/example/backend/jenkins/job/service/PipelineJobService.java
  backend/src/main/java/com/example/backend/parser/XmlConfigParser.java
Labels: needs-review, pull-request

#101 Feat/98 script build
  backend/src/main/java/com/example/backend/jenkins/job/controller/JobController.java
  backend/src/main/java/com/example/backend/jenkins/job/model/Job.java
  backend/src/main/java/com/example/backend/jenkins/job/model/JobErrorLog.java
  backend/src/main/java/com/example/backend/jenkins/job/model/JobErrorLogId.java
  backend/src/main/java/com/example/backend/jenkins/job/model/JobNotification.java
  backend/src/main/java/com/example/backend/jenkins/job/model/JobNotificationId.java
  backend/src/main/java/com/example/backend/jenkins/job/model/JobSchedule.java
  backend/src/main/java/com/example/backend/jenkins/job/model/JobScheduleId.java
  backend/src/main/java/com/example/backend/jenkins/job/model/JobVersion.java
  backend/src/main/java/com/example/backend/jenkins/job/model/JobVersionId.java
  backend/src/main/java/com/example/backend/jenkins/job/model/dto/RequestDto.java
  backend/src/main/java/com/example/backend/jenkins/job/service/ConfigService.java
  backend/src/main/java/com/example/backend/jenkins/job/service/JobService.java
  backend/src/main/resources/template/config.mustache
  backend/src/main/resources/template/script.mustache
Labels: needs-review, pull-request

#105 [feat] pipeline 생성
  backend/build.gradle
  backend/src/main/java/com/example/backend/exception/ErrorCode.java
  backend/src/main/java/com/example/backend/handler/GlobalExceptionHandler.java
  backend/src/main/java/com/example/backend/jenkins/info/model/JenkinsInfo.java
  backend/src/main/java/com/example/backend/jenkins/job/controller/JobController.java
  backend/src/main/java/com/example/backend/jenkins/job/model/Job.java
  backend/src/main/java/com/example/backend/jenkins/job/model/dto/RequestDto.java
  backend/src/main/java/com/example/backend/jenkins/job/repository/JobRepository.java
  backend/src/main/java/com/example/backend/jenkins/job/service/ConfigService.java
  backend/src/main/java/com/example/backend/jenkins/job/service/FreeStyleJobService.java
  backend/src/main/java/com/example/backend/jenkins/job/service/JobService.java
  backend/src/main/java/com/example/backend/jenkins/job/service/PipelineJobService.java
  backend/src/main/resources/template/config.mustache
  backend/src/main/resources/template/script.mustache
Labels: needs-review, pull-request

#106 [FEAT] Job 엔드포인트 추가
  backend/src/main/java/com/example/backend/jenkins/job/controller/JobController.java
  backend/src/main/java/com/example/backend/jenkins/job/model/Job.java
  backend/src/main/java/com/example/backend/jenkins/job/model/dto/RequestDto.java
  backend/src/main/java/com/example/backend/jenkins/job/model/dto/ResponseDto.java
  backend/src/main/java/com/example/backend/jenkins/job/repository/JobRepository.java
  backend/src/main/java/com/example/backend/jenkins/job/service/JobService.java
Labels: needs-review, pull-request

#107 [REFACTOR] Error 도메인 구조 리팩토링 및 Swagger 문서화 적용
  backend/src/main/java/com/example/backend/jenkins/error/controller/ErrorController.java
  backend/src/main/java/com/example/backend/jenkins/error/model/dto/ErrorRequestDto.java
  backend/src/main/java/com/example/backend/jenkins/error/model/dto/ErrorResponseDto.java
  backend/src/main/java/com/example/backend/jenkins/error/model/dto/FailedBuildResDto.java
  backend/src/main/java/com/example/backend/jenkins/error/model/dto/FailedBuildSummaryResDto.java
  backend/src/main/java/com/example/backend/jenkins/error/model/dto/JenkinsReqDto.java
  backend/src/main/java/com/example/backend/jenkins/error/model/dto/JobReqDto.java
  backend/src/main/java/com/example/backend/jenkins/error/model/dto/JobSummaryReqDto.java
  backend/src/main/java/com/example/backend/jenkins/error/model/dto/RetryReqDto.java
  backend/src/main/java/com/example/backend/jenkins/error/service/ErrorService.java
  backend/src/main/java/com/example/backend/jenkins/error/service/LlmService.java
  backend/src/test/java/com/example/backend/jenkins/error/controller/ErrorControllerTest.java
  backend/src/test/java/com/example/backend/jenkins/error/service/ErrorServiceTest.java
  backend/src/test/java/com/example/backend/jenkins/error/service/LlmServiceTest.java
Labels: backend, refactor, needs-review, pull-request

#115 [FEAT] HTTP 요청 실패시 보상 로직 구현
  backend/src/main/java/com/example/backend/jenkins/info/repository/JenkinsInfoRepository.java
  backend/src/main/java/com/example/backend/jenkins/job/model/dto/RequestDto.java
  backend/src/main/java/com/example/backend/jenkins/job/service/CompensationService.java
  backend/src/main/java/com/example/backend/jenkins/job/service/JobCreatedListener.java
  backend/src/main/java/com/example/backend/jenkins/job/service/JobEvent.java
  backend/src/main/java/com/example/backend/jenkins/job/service/PipelineService.java
Labels: needs-review, pull-request

#116 [FEAT] Job 생성시 Script 변경
  .idea/vcs.xml
  backend/src/main/java/com/example/backend/jenkins/job/service/ConfigService.java
  backend/src/main/java/com/example/backend/util/JenkinsStageUtil.java
  backend/src/main/resources/template/script.mustache
Labels: needs-review, pull-request

#128 [Feat] 파이프라인 버전 관리
  backend/src/main/java/com/example/backend/config/SecurityConfig.java
  backend/src/main/java/com/example/backend/jenkins/info/controller/JenkinsInfoController.java
  backend/src/main/java/com/example/backend/jenkins/job/controller/JobController.java
  backend/src/main/java/com/example/backend/jenkins/job/model/Pipeline.java
  backend/src/main/java/com/example/backend/jenkins/job/model/PipelineVersion.java
  backend/src/main/java/com/example/backend/jenkins/job/model/dto/ResponseDto.java
  backend/src/main/java/com/example/backend/jenkins/job/repository/PipelineVersionRepository.java
  backend/src/main/java/com/example/backend/jenkins/job/service/PipelineService.java
Labels: backend, :sparkles: feat, needs-review, pull-request

#129 [feat] PipelineService 변경
  backend/src/main/java/com/example/backend/jenkins/job/model/Pipeline.java
  backend/src/main/java/com/example/backend/jenkins/job/model/dto/RequestDto.java
  backend/src/main/java/com/example/backend/jenkins/job/service/CompensationService.java
  backend/src/main/java/com/example/backend/jenkins/job/service/PipelineService.java
  backend/src/main/java/com/example/backend/util/CronExpressionUtil.java
Labels: needs-review, pull-request

#130 [fix] PipelineService Merge
  backend/src/main/java/com/example/backend/jenkins/job/service/PipelineService.java
Labels: needs-review, pull-request

#134 [FEAT] Pipeline 로직 변경
  backend/src/main/java/com/example/backend/exception/ErrorCode.java
  backend/src/main/java/com/example/backend/jenkins/job/model/Pipeline.java
  backend/src/main/java/com/example/backend/jenkins/job/model/PipelineVersion.java
  backend/src/main/java/com/example/backend/jenkins/job/model/Script.java
  backend/src/main/java/com/example/backend/jenkins/job/model/Stage.java
  backend/src/main/java/com/example/backend/jenkins/job/model/dto/RequestDto.java
  backend/src/main/java/com/example/backend/jenkins/job/model/dto/ResponseDto.java
  backend/src/main/java/com/example/backend/jenkins/job/repository/PipelineRepository.java
  backend/src/main/java/com/example/backend/jenkins/job/repository/StageRepository.java
  backend/src/main/java/com/example/backend/jenkins/job/service/PipelineService.java
  backend/src/main/java/com/example/backend/jenkins/job/service/StageService.java
Labels: needs-review, pull-request

#136 [FEAT] 목록, 상세 조회 응답 변경, 삭제 복구 추가
  backend/src/main/java/com/example/backend/jenkins/job/controller/JobController.java
  backend/src/main/java/com/example/backend/jenkins/job/model/Pipeline.java
  backend/src/main/java/com/example/backend/jenkins/job/model/PipelineVersion.java
  backend/src/main/java/com/example/backend/jenkins/job/model/dto/ResponseDto.java
  backend/src/main/java/com/example/backend/jenkins/job/service/PipelineService.java
Labels: needs-review, pull-request

#140 [Feat] job 도메인에 swagger 어노테이션 추가
  backend/src/main/java/com/example/backend/jenkins/job/controller/JobController.java
  backend/src/main/java/com/example/backend/jenkins/job/controller/ScriptController.java
  backend/src/main/java/com/example/backend/jenkins/job/model/Pipeline.java
  backend/src/main/java/com/example/backend/jenkins/job/model/PipelineVersion.java
  backend/src/main/java/com/example/backend/jenkins/job/model/Script.java
  backend/src/main/java/com/example/backend/jenkins/job/model/Stage.java
  backend/src/main/java/com/example/backend/jenkins/job/model/dto/RequestDto.java
  backend/src/main/java/com/example/backend/jenkins/job/model/dto/ResponseDto.java
Labels: needs-review, pull-request

#139 [REFACTOR] Pipeline, PipelineVersion 엔티티 구조 변경으로 인한 JobNotification 서비스 코드 수정
  backend/src/main/java/com/example/backend/jenkins/job/repository/PipelineRepository.java
  backend/src/main/java/com/example/backend/jenkins/job/repository/PipelineVersionRepository.java
  backend/src/main/java/com/example/backend/jenkins/notification/service/JobNotificationService.java
Labels: needs-review, pull-request

#152 [FEAT] JobNotification 도메인 Swagger 추가
  backend/src/main/java/com/example/backend/jenkins/notification/controller/JobNotificationController.java
  backend/src/main/java/com/example/backend/jenkins/notification/model/dto/RequestDto.java
  backend/src/main/java/com/example/backend/jenkins/notification/model/dto/ResponseDto.java
Labels: needs-review, pull-request

#157 [FIX] 빌드 스테이지 로직 변경
  backend/src/test/java/com/example/backend/jenkins/build/controller/BuildControllerTest.java
Labels: needs-review, pull-request

#160 [FEAT] SnapShot 로직 변경, Stage와 PipelineVersion의 연관관계 변경
  backend/src/main/java/com/example/backend/jenkins/job/controller/JobController.java
  backend/src/main/java/com/example/backend/jenkins/job/model/PipelineVersion.java
  backend/src/main/java/com/example/backend/jenkins/job/model/Stage.java
  backend/src/main/java/com/example/backend/jenkins/job/model/VersionStage.java
  backend/src/main/java/com/example/backend/jenkins/job/model/dto/ResponseDto.java
  backend/src/main/java/com/example/backend/jenkins/job/repository/StageRepository.java
  backend/src/main/java/com/example/backend/jenkins/job/repository/VersionStageRepository.java
  backend/src/main/java/com/example/backend/jenkins/job/service/CompensationService.java
  backend/src/main/java/com/example/backend/jenkins/job/service/PipelineService.java
  backend/src/main/java/com/example/backend/jenkins/job/service/StageService.java
  backend/src/main/java/com/example/backend/service/HttpClientService.java
Labels: needs-review, pull-request

#162 [FIX] 스웨거 및 스키마 수정
  backend/src/main/java/com/example/backend/jenkins/build/controller/BuildController.java
  backend/src/main/java/com/example/backend/jenkins/build/model/dto/BuildRequestDto.java
  backend/src/main/java/com/example/backend/jenkins/build/service/BuildService.java
  backend/src/test/java/com/example/backend/jenkins/build/controller/BuildControllerTest.java
  backend/src/test/java/com/example/backend/jenkins/build/service/BuildServiceTest.java
Labels: needs-review, pull-request

#165 Feat/158 bearer
  backend/src/main/java/com/example/backend/config/SecurityConfig.java
  backend/src/main/java/com/example/backend/exception/ErrorCode.java
  backend/src/main/java/com/example/backend/jenkins/job/controller/JobController.java
  backend/src/main/java/com/example/backend/jenkins/job/controller/VersionController.java
  backend/src/main/java/com/example/backend/jenkins/job/model/dto/ResponseDto.java
  backend/src/main/java/com/example/backend/jenkins/job/model/dto/SnapshotRollbackDto.java
  backend/src/main/java/com/example/backend/jenkins/job/repository/PipelineVersionRepository.java
  backend/src/main/java/com/example/backend/jenkins/job/service/CompensationService.java
  backend/src/main/java/com/example/backend/jenkins/job/service/PipelineService.java
  backend/src/main/java/com/example/backend/jenkins/job/service/VersionService.java
Labels: needs-review, pull-request

#169 [FIX] TDD 컨트롤러 수정
  backend/src/main/java/com/example/backend/jenkins/build/model/JobType.java
  backend/src/main/java/com/example/backend/jenkins/build/model/dto/BuildRequestDto.java
  backend/src/test/java/com/example/backend/jenkins/build/controller/BuildControllerTest.java
Labels: needs-review, pull-request

#170 [FEAT] JobNotification 알림 호출을 Job 생성/수정 API에 통합
  backend/src/main/java/com/example/backend/jenkins/job/controller/JobController.java
  backend/src/main/java/com/example/backend/jenkins/job/model/dto/RequestDto.java
  backend/src/main/java/com/example/backend/jenkins/job/model/dto/ResponseDto.java
  backend/src/main/java/com/example/backend/jenkins/job/service/PipelineService.java
  backend/src/main/java/com/example/backend/jenkins/notification/controller/JobNotificationController.java
  backend/src/main/java/com/example/backend/jenkins/notification/model/JobNotification.java
  backend/src/main/java/com/example/backend/jenkins/notification/model/dto/RequestDto.java
  backend/src/main/java/com/example/backend/jenkins/notification/model/dto/ResponseDto.java
  backend/src/main/java/com/example/backend/jenkins/notification/repository/JobNotificationRepository.java
  backend/src/main/java/com/example/backend/jenkins/notification/service/JenkinsClientFactory.java
  backend/src/main/java/com/example/backend/jenkins/notification/service/JobNotificationEvent.java
  backend/src/main/java/com/example/backend/jenkins/notification/service/JobNotificationEventListener.java
  backend/src/main/java/com/example/backend/jenkins/notification/service/JobNotificationService.java
  backend/src/main/resources/template/notificationScript.mustache
Labels: needs-review, pull-request

#171 [FEAT] login 페이지 api 연동
  backend/src/main/java/com/example/backend/auth/user/model/Users.java
  backend/src/main/java/com/example/backend/auth/user/service/UserService.java
  backend/src/main/java/com/example/backend/config/SecurityConfig.java
  backend/src/main/java/com/example/backend/handler/OAuth2LoginFailureHandler.java
  backend/src/main/java/com/example/backend/handler/OAuth2LoginSuccessHandler.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/LoginApi.js
  frontend/src/pages/users/Login.vue
  frontend/src/router/index.js
  frontend/vite.config.js
Labels: needs-review, pull-request

#176 [FEAT] signup 페이지 api 연동
  backend/src/main/java/com/example/backend/auth/user/controller/UserController.java
  backend/src/main/java/com/example/backend/auth/user/service/UserService.java
  frontend/src/api/LoginApi.js
  frontend/src/api/UserApi.js
  frontend/src/pages/users/Login.vue
  frontend/src/pages/users/Signup.vue
  frontend/src/router/index.js
Labels: needs-review, pull-request

#182 [FEAT] Mypage 백엔드 연동
  backend/src/main/java/com/example/backend/auth/user/controller/UserController.java
  backend/src/main/java/com/example/backend/auth/user/model/dto/ResponseDto.java
  backend/src/main/java/com/example/backend/auth/user/service/UserService.java
  backend/src/main/java/com/example/backend/jenkins/info/model/JenkinsInfo.java
  backend/src/main/java/com/example/backend/jenkins/info/model/dto/InfoResponseDto.java
  frontend/src/api/UserApi.js
  frontend/src/assets/icons/fail.svg
  frontend/src/pages/users/CreateCicdInfo.vue
  frontend/src/pages/users/Mypage.vue
  frontend/src/router/index.js
Labels: needs-review, pull-request

#187 [FEAT] user 정보 pinia에 저장
  backend/src/main/java/com/example/backend/handler/OAuth2LoginSuccessHandler.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/main.js
  frontend/src/pages/Main.vue
  frontend/src/pages/users/Login.vue
  frontend/src/pages/users/Mypage.vue
  frontend/src/stores/useUserStore.js
Labels: needs-review, pull-request

#189 [FEAT] Logout, Router Guard 적용
  frontend/src/api/UserApi.js
  frontend/src/components/common/Dropdown.vue
  frontend/src/pages/users/Login.vue
  frontend/src/pages/users/Mypage.vue
  frontend/src/router/index.js
Labels: needs-review, pull-request

#190 [FEAT] JenkinsInfo api 디테일 연결 #183
  frontend/src/pages/jobs/JobList.vue
  frontend/src/pages/users/CicdInfoDetail.vue
  frontend/src/stores/useJenkinsStore.js
  frontend/src/stores/useJobStore.js
Labels: needs-review, pull-request

#193 [FEAT] Email 인증
  backend/src/main/java/com/example/backend/auth/email/service/EmailService.java
  backend/src/test/java/com/example/backend/auth/email/service/EmailServiceTest.java
  frontend/src/api/EmailApi.js
  frontend/src/pages/users/VerifyEmail.vue
  frontend/src/router/index.js
Labels: needs-review, pull-request

#195 [FEAT] 알림 스크립트 로직 ScriptService로 이동 후 테스트 코드 작성
  backend/src/main/java/com/example/backend/jenkins/job/controller/JobController.java
  backend/src/main/java/com/example/backend/jenkins/job/controller/ScriptController.java
  backend/src/main/java/com/example/backend/jenkins/job/model/dto/RequestDto.java
  backend/src/main/java/com/example/backend/jenkins/job/service/PipelineService.java
  backend/src/main/java/com/example/backend/jenkins/job/service/ScriptService.java
  backend/src/main/java/com/example/backend/jenkins/notification/model/JobNotification.java
  backend/src/main/java/com/example/backend/jenkins/notification/repository/JobNotificationRepository.java
  backend/src/main/java/com/example/backend/jenkins/notification/service/JobNotificationService.java
  backend/src/main/resources/template/notificationScript.mustache
  backend/src/test/java/com/example/backend/jenkins/job/controller/ScriptControllerTest.java
  backend/src/test/java/com/example/backend/jenkins/job/service/ScriptServiceTest.java
Labels: needs-review, pull-request

#196 [FEAT] 롤백 api 테스트 코드 작성
  backend/src/test/java/com/example/backend/jenkins/error/controller/ErrorControllerTest.java
Labels: backend, needs-review, pull-request

#197 [FIX] 프론트 Store /api 분리
  frontend/src/api/JenkinsInfoApi.js
  frontend/src/pages/users/CicdInfoDetail.vue
  frontend/src/pages/users/Mypage.vue
  frontend/src/stores/useJenkinsStore.js
  frontend/src/stores/useJobStore.js
Labels: needs-review, pull-request

#200 [FEAT] 채팅 기능 구현
  backend/src/main/java/com/example/backend/config/SecurityConfig.java
  frontend/.env
  frontend/src/pages/chat/Chat.vue
  frontend/src/router/index.js
Labels: needs-review, pull-request

#204 [FEAT] Jenkins 알림 메시지 개선 - 실행자 정보 환경변수로 수정 및 링크 추가
  backend/src/main/java/com/example/backend/jenkins/job/controller/ScriptController.java
  backend/src/main/java/com/example/backend/jenkins/job/service/ScriptService.java
  backend/src/main/java/com/example/backend/jenkins/notification/service/JobNotificationService.java
  backend/src/main/resources/template/notificationScript.mustache
  backend/src/test/java/com/example/backend/jenkins/job/controller/ScriptControllerTest.java
  backend/src/test/java/com/example/backend/jenkins/job/service/ScriptServiceTest.java
Labels: needs-review, pull-request

#215 [FEAT] Jenkins 상세정보 페이지 연결
  backend/src/main/java/com/example/backend/jenkins/info/model/JenkinsInfo.java
  backend/src/main/java/com/example/backend/jenkins/info/model/dto/InfoRequestDto.java
  backend/src/main/java/com/example/backend/jenkins/info/model/dto/InfoResponseDto.java
  backend/src/main/java/com/example/backend/jenkins/info/service/JenkinsInfoService.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/JenkinsInfoApi.js
  frontend/src/pages/users/CicdInfoDetail.vue
  frontend/src/pages/users/Mypage.vue
  frontend/src/stores/useJenkinsStore.js
  frontend/src/stores/useUserStore.js
Labels: needs-review, pull-request

#216 [FEAT] Job 생성 페이지 api 연동
  frontend/src/api/JobApi.js
  frontend/src/pages/jobs/CreateJob.vue
  frontend/src/pages/jobs/JobList.vue
  frontend/src/router/index.js
  frontend/src/utils/formatSchedule.js
Labels: :sparkles: feat, needs-review, pull-request

#221 [FEAT] 캘린더 API 테스트 코드 작성
  backend/src/test/java/com/example/backend/jenkins/calendar/controller/CalendarControllerTest.java
  backend/src/test/java/com/example/backend/jenkins/calendar/service/CalendarServiceTest.java
Labels: backend, :sparkles: feat, needs-review, pull-request

#225 [Feat] Job TDD 구현
  backend/src/main/java/com/example/backend/jenkins/job/model/dto/RequestDto.java
  backend/src/main/java/com/example/backend/jenkins/job/model/dto/ResponseDto.java
  backend/src/test/java/com/example/backend/jenkins/job/controller/JobControllerTest.java
  backend/src/test/java/com/example/backend/jenkins/job/service/PipelineServiceTest.java
Labels: backend, :sparkles: feat, needs-review, pull-request

#229 [REFACTOR] Script-JobNotification 책임 분리 및 테스트 코드 보강
  backend/src/main/java/com/example/backend/exception/ErrorCode.java
  backend/src/main/java/com/example/backend/handler/GlobalExceptionHandler.java
  backend/src/main/java/com/example/backend/jenkins/job/controller/ScriptController.java
  backend/src/main/java/com/example/backend/jenkins/job/model/Script.java
  backend/src/main/java/com/example/backend/jenkins/job/model/dto/RequestDto.java
  backend/src/main/java/com/example/backend/jenkins/job/model/dto/ResponseDto.java
  backend/src/main/java/com/example/backend/jenkins/job/service/PipelineService.java
  backend/src/main/java/com/example/backend/jenkins/job/service/ScriptService.java
  backend/src/main/java/com/example/backend/jenkins/notification/model/JobNotification.java
  backend/src/main/java/com/example/backend/jenkins/notification/repository/JobNotificationRepository.java
  backend/src/main/java/com/example/backend/jenkins/notification/service/JobNotificationService.java
  backend/src/main/java/com/example/backend/util/ScriptEditUtil.java
  backend/src/test/java/com/example/backend/jenkins/job/controller/ScriptControllerTest.java
  backend/src/test/java/com/example/backend/jenkins/job/service/JobNotificationServiceTest.java
  backend/src/test/java/com/example/backend/jenkins/job/service/ScriptServiceTest.java
Labels: needs-review, pull-request

#232 [FEAT] 마이페이지 디자인 수정 및 젠킨스 서버 검증 api 변경
  backend/src/main/java/com/example/backend/jenkins/info/controller/JenkinsInfoController.java
  backend/src/main/java/com/example/backend/jenkins/info/model/dto/InfoRequestDto.java
  backend/src/main/java/com/example/backend/jenkins/info/service/JenkinsInfoService.java
  backend/src/test/java/com/example/backend/jenkins/info/controller/JenkinsInfoControllerTest.java
  frontend/src/api/JenkinsInfoApi.js
  frontend/src/assets/icons/warn.svg
  frontend/src/pages/users/CicdInfoDetail.vue
  frontend/src/pages/users/CreateCicdInfo.vue
  frontend/src/pages/users/Mypage.vue
  frontend/src/pages/users/VerifyEmail.vue
  frontend/src/router/index.js
Labels: needs-review, pull-request

#234 [FEAT] Build 결과 Job에 전달
  backend/src/main/java/com/example/backend/config/SecurityConfig.java
  backend/src/main/java/com/example/backend/config/jwt/JwtAuthenticationFilter.java
  backend/src/main/java/com/example/backend/jenkins/build/controller/BuildController.java
  backend/src/main/java/com/example/backend/jenkins/build/service/BuildService.java
  backend/src/main/java/com/example/backend/jenkins/job/model/dto/RequestDto.java
  backend/src/main/java/com/example/backend/jenkins/job/model/dto/ResponseDto.java
  backend/src/main/java/com/example/backend/jenkins/job/service/PipelineService.java
  backend/src/main/java/com/example/backend/jenkins/job/service/ScriptService.java
  backend/src/main/resources/template/script.mustache
Labels: needs-review, pull-request

#233 [Feat] Test 구현
  backend/src/main/java/com/example/backend/jenkins/job/model/PipelineVersion.java
  backend/src/main/java/com/example/backend/jenkins/job/service/VersionService.java
  backend/src/test/java/com/example/backend/jenkins/job/controller/JobControllerTest.java
  backend/src/test/java/com/example/backend/jenkins/job/service/CompensationServiceTest.java
  backend/src/test/java/com/example/backend/jenkins/job/service/PipelineServiceTest.java
  backend/src/test/java/com/example/backend/jenkins/job/service/StageServiceTest.java
  backend/src/test/java/com/example/backend/jenkins/job/service/VersionServiceTest.java
Labels: backend, :sparkles: feat, needs-review, pull-request

#236 [FEAT] Build 결과 Job에 전달 테스트
  backend/src/main/java/com/example/backend/jenkins/job/model/dto/RequestDto.java
  backend/src/main/java/com/example/backend/jenkins/job/model/dto/ResponseDto.java
  frontend/src/pages/jobs/JobList.vue
  frontend/src/stores/useJobStore.js
Labels: needs-review, pull-request

#238 [FEAT] Build 결과 Job에 전달 테스트
  frontend/src/pages/jobs/JobList.vue
Labels: needs-review, pull-request

#239 [FEAT] Build 결과 서버에 반영
  backend/src/main/java/com/example/backend/jenkins/build/service/BuildService.java
  backend/src/main/java/com/example/backend/jenkins/job/model/Pipeline.java
  backend/src/main/java/com/example/backend/jenkins/job/model/dto/RequestDto.java
  backend/src/main/java/com/example/backend/jenkins/job/model/dto/ResponseDto.java
  backend/src/main/java/com/example/backend/jenkins/job/service/PipelineService.java
  backend/src/main/resources/template/config.mustache
  backend/src/main/resources/template/script.mustache
  frontend/src/components/jobs/JobCard.vue
Labels: needs-review, pull-request

#241 [FEAT] JobCard 백엔드 연동
  backend/src/main/java/com/example/backend/jenkins/job/model/Pipeline.java
  backend/src/main/java/com/example/backend/jenkins/job/model/dto/RequestDto.java
  backend/src/main/java/com/example/backend/jenkins/job/model/dto/ResponseDto.java
  backend/src/main/java/com/example/backend/jenkins/job/service/PipelineService.java
  frontend/src/components/jobs/JobCard.vue
Labels: needs-review, pull-request

#243 [FEAT] 알림 로직 수정, UI 연동
  backend/src/main/java/com/example/backend/jenkins/job/service/ConfigService.java
  backend/src/main/java/com/example/backend/jenkins/job/service/PipelineService.java
  backend/src/main/java/com/example/backend/util/ScriptEditUtil.java
  backend/src/main/resources/template/notificationFailure.mustache
  backend/src/main/resources/template/notificationScript.mustache
  backend/src/main/resources/template/notificationSuccess.mustache
  frontend/src/pages/jobs/JobList.vue
  frontend/src/pages/users/CicdInfoDetail.vue
  frontend/src/pages/users/Mypage.vue
Labels: needs-review, pull-request

#246 [FEAT] Job 상세 정보 페이지 구현
  frontend/src/api/BuildApi.js
  frontend/src/api/JobApi.js
  frontend/src/components/jobs/JobBuild.vue
  frontend/src/components/jobs/JobInfo.vue
  frontend/src/pages/jobs/JobDetail.vue
  frontend/src/router/index.js
  frontend/src/utils/formatBuild.js
Labels: :sparkles: feat, needs-review, pull-request

#254 [FEAT] build progress
  backend/src/main/java/com/example/backend/exception/ErrorCode.java
  frontend/src/api/BuildApi.js
  frontend/src/api/EmailApi.js
  frontend/src/api/JenkinsInfoApi.js
  frontend/src/api/JobApi.js
  frontend/src/api/UserApi.js
  frontend/src/api/VersionApi.js
  frontend/src/api/axiosInstance.js
  frontend/src/components/common/Dropdown.vue
  frontend/src/pages/chat/Chat.vue
  frontend/src/pages/jobs/JobCard.vue
  frontend/src/pages/jobs/JobList.vue
  frontend/src/router/index.js
Labels: needs-review, pull-request

#255 [FEAT] 디자인 수정, 버그 해결
  frontend/src/api/BuildApi.js
  frontend/src/api/EmailApi.js
  frontend/src/api/JenkinsInfoApi.js
  frontend/src/api/JobApi.js
  frontend/src/api/UserApi.js
  frontend/src/api/VersionApi.js
  frontend/src/api/axiosInstance.js
  frontend/src/assets/icons/bell.vue
  frontend/src/assets/icons/chat.vue
  frontend/src/assets/icons/monitor.vue
  frontend/src/assets/icons/profile.svg
  frontend/src/assets/icons/setting.vue
  frontend/src/assets/icons/shield.vue
  frontend/src/components/common/Dropdown.vue
  frontend/src/components/common/Header.vue
  frontend/src/components/common/PipelyOverview.vue
  frontend/src/pages/Main.vue
  frontend/src/pages/users/CreateCicdInfo.vue
  frontend/src/router/index.js
Labels: needs-review, pull-request

#259 [FEAT] Job 상세페이지 구현
  backend/src/main/java/com/example/backend/jenkins/job/model/Script.java
  backend/src/main/java/com/example/backend/jenkins/job/service/ScriptService.java
  frontend/src/api/BuildApi.js
  frontend/src/api/JobApi.js
  frontend/src/components/common/Header.vue
  frontend/src/components/jobs/JobBuild.vue
  frontend/src/components/jobs/JobInfo.vue
  frontend/src/components/modal/CheckPasswordModal.vue
  frontend/src/components/modal/SessionWarningModal.vue
  frontend/src/pages/jobs/JobDetail.vue
  frontend/src/pages/jobs/JobList.vue
  frontend/src/pages/users/Mypage.vue
  frontend/src/stores/useJobStore.js
  frontend/src/stores/useUserStore.js
  frontend/src/utils/formatBuild.js
Labels: needs-review, pull-request
